.loader-wrapper{
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 100%; */
}


.pace-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #cccccc;
    border-top: 16px solid #335eea;
    border-bottom: 16px solid #FF6584;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0;
    position: absolute;
    top: 40%;
    right: 43%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }