.tour-container {
  margin: 0;
  padding: 0;
  /* color: #2d2323; */
  color: rgba(0, 0, 0, 0.5);
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetical Neue',
    sans-serif;
}

.helper {
  --reactour-accent: #5cb7b7;
  line-height: 1.3;
  color: #2d2323;
}

.sc-gZMcBi,
.liHtYK, 
.reactour__helper,
.helper,
.reactour__helper--is-open{
  color: #2d2323 !important;
  font-size: 14px;
  font-weight: 600;
}