.pageNotFound-wrapper{
    font-size: calc(0.5rem - 1vw);
}


.pageNotFound-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    color: red;
    margin: 100px 0px;
}

.errorWrapper{
    padding: 12px;
    display: flex;
    align-items: flex-end;
}

.pageNotFound-wrapper .error404{
    font-size: 120px;
}


.pageNotFound-wrapper .errorText{
    font-size: 30px;
    color: #333333;
}


.error-img{
    width: 300px;
    height: 300px;
}


@media(max-width: 600px){
    .error-img{
        /* display: none; */
    }

    .pageNotFound-wrapper .error404{
        font-size: 30px;
    }
    
    .pageNotFound-wrapper .errorText{
        font-size: 15px;
    }
}