*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pace-primary-color{
  color: #335eea !important;
}

.pace-accent-color{
  color: #FF6584;
}
.pace-grey-color{
  color: #aaaaaa;
}

.pace-bg-primary{
  background: #335eea;
  color: #ffffff;
}
.pace-thead{
  background: #335eea;
  color: #fff;
}
.pace-bg-accent{
  background: #FF6584;
  color: #ffffff;
}

.form-control {
  border-radius: .25rem;
}
.form-control:focus {
  border: 1px solid #335eea !important;
  box-shadow: none !important;
}

@media print {
  * {
    display: none;
  }
  #printArea {
    display: block;
  }
}