.todo-container {
    /* background-color: #6200EA; */
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 40px;
    /* width: 200%;
    z-index: 20;
    position: relative; */
}

.todo-container .card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.todo-container .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.todo-container .card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
}

.todo-container .card-header.todo-container .card-header-tab .todo-container .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.todo-container .card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.todo-container .card-header.todo-container .card-header-tab .todo-container .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.todo-container .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 378px;
    overflow-x: hidden
}

.todo-container .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.todo-container .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-container .todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.todo-container .bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content-right i {
    font-style: italic !important;
}

.widget-content .widget-content-right {
    margin-left: auto
}

.todo-container .btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.todo-container .btn {
    position: relative;
    /* transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s */
}
.todo-btn i{
    font-size: 13px;
}

.todo-container .completed-icon {
    color: #3ac47d;
}

.todo-container .completed-icon:hover {
    color: #4a9970;
    background-color: unset !important;
    transform: scale(1.12);
}

.todo-container .pending-icon {
    color: rgb(150, 10, 10);
}

.todo-container .pending-icon:hover {
    /* transition: 1s;   */
    transform: scale(.99);
    color: rgb(150, 10, 10);
    background-color: unset !important;
}

.todo-container .btn-primary {
    color: #fff;
    background-color: #3f6ad8;
}

.todo-container .btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.todo-container .card-footer {
    background-color: #fff
}